<ion-view view-title="服务" hide-nav-bar="false" cache-view="false" can-swipe-back="false">
    <ion-content class="spec-main" overflow-scroll="false">

        <div class="spec-questionLists">
            <div class="spec-questionList">
                <span>常见问题</span>
            </div>
            <ul class="">
                <li class="" ng-click="vm.goToSpecCost('0')">
                    <span>剩余的担保金什么时候退？</span>
                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
                <li class="" ng-click="vm.goToSpecCost('1')">
                    <span>订单取消为什么没有退款？</span>
                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
                <li class="" ng-click="vm.goToSpecCost('2')">
                    <span>怎么开发票？</span>
                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="spec-Service">
            <span class="">咨询客服</span>
            <div class="spec-telephone" ng-click="vm.telPhone('95106')">
                <span>客服电话</span>
            </div>
        </div>
    </ion-content>
</ion-view>
