<ion-view view-title="协议" hide-tab-bar="false" hide-nav-bar="false" cache-view="false" can-swipe-back="false">
    <ion-content overflow-scoll="false">
        <div class="agreement-lists">
            <ul class="agreement-list">
                <li ng-click="vm.goToSoftwareUse(95106)">
                    <span>用户隐私政策协议</span>
                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
                <li ng-click="vm.goToExpressTrain()">
                    <!--<span>专快车服务协议</span>-->
                    <span>翼支付网约车用户服务协议</span>

                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
                <li ng-click="vm.goToAgentCharge()">
                    <!--<span>代扣协议</span>-->
                    <span>代扣服务协议</span>
                    <span class="right-arrowSpan">
                        <i class="right-arrow"></i>
                    </span>
                </li>
            </ul>
            <!--<div ng-click="vm.goToAppraise('false')">去点评</div>-->
            <!--<div ng-click="vm.goToSpec()">去服务</div>-->
            <!--<div ng-click="vm.goToAppraise('true')">查看点评</div>-->
        </div>
    </ion-content>

</ion-view>